.graph {
  position: relative;
  display: flex;
  top: 1000px;
}

#body {
  z-index: 20;
  position: absolute;
  top: -100px;
  left: -70px;
}

.script {
  z-index: 20;
}

.DecadeBarChartContainer {
  border: solid 0px black;
  position: relative;
  display: flex;
  align-items: flex-end;
  top: -854px;
  left: 86px;
  width: 3204px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;

  /* 2204 is the width of the graph */
  gap: 7px;
}

.CreationDecadeQuantity {
  border: solid 0px black;
  position: absolute;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  z-index: 12;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  /* left: 90px; */
  width: 3204px;
  /* gap: 165px; */
  color: #635c58;
  top: 320px;
}

.DecadeBarChart1 {
  position: relative;
  background-color: #2a2626;
  width: 189px;
  height: 48px;
  transition: 0.3s;
  left: -26.5px;
}

.Chart1:hover ~ .DecadeBarChart1 .DecadeBarChart1_Detail1 {
  opacity: 1;
}

.DecadeBarChart1_Detail1 {
  position: absolute;
  width: 189px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet1 {
  height: 48px;
  background-color: #8d2438;
}
.Mobilier1 {
  height: 27px;
  background-color: #c6bca2;
}
.Industriel1 {
  height: 17px;
  background-color: #e7a02c;
}
.Vestimentaire1 {
  height: 9px;
  background-color: #1a4d8b;
}
.Graphique1 {
  height: 2px;
  background-color: #da3035;
}
/* .Technologie1 {
  height: 0px;
  background-color: #83b7ca;
}
.Architecture1 {
  height: 0px;
  background-color: #91a879;
} */

.Chart1 {
  position: relative;
  z-index: 100;
  top: -48px;
  left: 100px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart2 {
  position: relative;
  background-color: #2a2626;
  width: 171px;
  height: 43px;
  transition: 0.3s;
  left: -52.5px;
}

.Chart2:hover ~ .DecadeBarChart2 .DecadeBarChart1_Detail2 {
  opacity: 1;
}

.DecadeBarChart1_Detail2 {
  position: absolute;
  width: 171px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet2 {
  height: 43px;
  background-color: #8d2438;
}
.Mobilier2 {
  height: 17px;
  background-color: #c6bca2;
}
.Industriel2 {
  height: 15px;
  background-color: #e7a02c;
}
.Vestimentaire2 {
  height: 9px;
  background-color: #1a4d8b;
}
.Graphique2 {
  height: 8px;
  background-color: #da3035;
}
/* .Technologie2 {
    height: 0px;
    background-color: #83b7ca;
  }
  .Architecture2 {
    height: 0px;
    background-color: #91a879;
  } */

.Chart2 {
  position: relative;
  z-index: 200;
  top: -43px;
  left: 50px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart3 {
  position: relative;
  background-color: #2a2626;
  width: 171px;
  height: 241px;
  left: -87.5px;
}

.Chart3:hover ~ .DecadeBarChart3 .DecadeBarChart1_Detail3 {
  opacity: 1;
}

.DecadeBarChart1_Detail3 {
  position: absolute;
  width: 171px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet3 {
  height: 241px;
  background-color: #8d2438;
}
.Mobilier3 {
  height: 176px;
  background-color: #c6bca2;
}
.Industriel3 {
  height: 66px;
  background-color: #e7a02c;
}
.Vestimentaire3 {
  height: 57px;
  background-color: #1a4d8b;
}
.Graphique3 {
  height: 56px;
  background-color: #da3035;
}
.Technologie3 {
  height: 0px;
  background-color: #83b7ca;
}
.Architecture3 {
  height: 0px;
  background-color: #91a879;
}

.Chart3 {
  position: relative;
  z-index: 100;
  top: -241px;
  left: 100px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart4 {
  background-color: #2a2626;
  width: 171px;
  height: 284px;
  left: -123px;
  position: relative;
}

.Chart4:hover ~ .DecadeBarChart4 .DecadeBarChart1_Detail4 {
  opacity: 1;
}

.DecadeBarChart1_Detail4 {
  position: absolute;
  width: 171px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet4 {
  height: 284px;
  background-color: #8d2438;
}
.Mobilier4 {
  height: 183px;
  background-color: #c6bca2;
}
.Industriel4 {
  height: 62px;
  background-color: #e7a02c;
}
.Vestimentaire4 {
  height: 28px;
  background-color: #1a4d8b;
}
.Graphique4 {
  height: 21px;
  background-color: #da3035;
}
.Technologie4 {
  height: 0px;
  background-color: #83b7ca;
}
.Architecture4 {
  height: 0px;
  background-color: #91a879;
}

.Chart4 {
  position: relative;
  top: -284px;
  left: -45px;
  z-index: 100;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart5 {
  background-color: #2a2626;
  width: 172px;
  height: 92px;
  left: -149px;
  position: relative;
}

.Chart5:hover ~ .DecadeBarChart5 .DecadeBarChart1_Detail5 {
  opacity: 1;
}

.DecadeBarChart1_Detail5 {
  position: absolute;
  width: 172px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet5 {
  height: 92px;
  background-color: #8d2438;
}
.Mobilier5 {
  height: 77px;
  background-color: #c6bca2;
}
.Industriel5 {
  height: 36px;
  background-color: #e7a02c;
}
.Vestimentaire5 {
  height: 0px;
  background-color: #1a4d8b;
}
.Graphique5 {
  height: 10px;
  background-color: #da3035;
}
.Technologie5 {
  height: 0px;
  background-color: #83b7ca;
}
.Architecture5 {
  height: 0px;
  background-color: #91a879;
}

.Chart5 {
  position: relative;
  left: -45px;
  z-index: 100;
  top: -92px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart6 {
  background-color: #2a2626;
  width: 172px;
  height: 455px;
  left: -184.5px;
  position: relative;
}

.Chart6:hover ~ .DecadeBarChart6 .DecadeBarChart1_Detail6 {
  opacity: 1;
}

.DecadeBarChart1_Detail6 {
  position: absolute;
  width: 172px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet6 {
  height: 455px;
  background-color: #8d2438;
}
.Mobilier6 {
  height: 363px;
  background-color: #c6bca2;
}
.Industriel6 {
  height: 228px;
  background-color: #e7a02c;
}
.Vestimentaire6 {
  height: 0px;
  background-color: #1a4d8b;
}
.Graphique6 {
  height: 158px;
  background-color: #da3035;
}
.Technologie6 {
  height: 11px;
  background-color: #83b7ca;
}
.Architecture6 {
  height: 0px;
  background-color: #91a879;
}

.Chart6 {
  position: relative;
  z-index: 100;
  top: -92px;
  top: -455px;
  left: -100px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart7 {
  background-color: #2a2626;
  width: 172px;
  height: 1076px;
  left: -230.5px;
  position: relative;
}

.Chart7:hover ~ .DecadeBarChart7 .DecadeBarChart1_Detail7 {
  opacity: 1;
}

.DecadeBarChart1_Detail7 {
  position: absolute;
  width: 172px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet7 {
  height: 1076px;
  background-color: #8d2438;
}
.Mobilier7 {
  height: 927px;
  background-color: #c6bca2;
}
.Industriel7 {
  height: 767px;
  background-color: #e7a02c;
}
.Vestimentaire7 {
  height: 616px;
  background-color: #1a4d8b;
}
.Graphique7 {
  height: 566px;
  background-color: #da3035;
}
.Technologie7 {
  height: 4px;
  background-color: #83b7ca;
}
.Architecture7 {
  height: 3px;
  background-color: #91a879;
}

.Chart7 {
  position: relative;
  left: -100px;
  z-index: 100;
  top: -1076px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart8 {
  background-color: #2a2626;
  width: 172px;
  height: 1204px;
  left: -276.5px;
  position: relative;
}

.Chart8:hover ~ .DecadeBarChart8 .DecadeBarChart1_Detail8 {
  opacity: 1;
}

.DecadeBarChart1_Detail8 {
  position: absolute;
  width: 172px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet8 {
  height: 1204px;
  background-color: #8d2438;
}
.Mobilier8 {
  height: 1080px;
  background-color: #c6bca2;
}
.Industriel8 {
  height: 944px;
  background-color: #e7a02c;
}
.Vestimentaire8 {
  height: 820px;
  background-color: #1a4d8b;
}
.Graphique8 {
  height: 817px;
  background-color: #da3035;
}
.Technologie8 {
  height: 0px;
  background-color: #83b7ca;
}
.Architecture8 {
  height: 10px;
  background-color: #91a879;
}

.Chart8 {
  position: relative;
  left: -140px;
  z-index: 100;
  top: -1204px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart9 {
  background-color: #2a2626;
  width: 172px;
  height: 1105px;
  left: -322.5px;
  position: relative;
}

.Chart9:hover ~ .DecadeBarChart9 .DecadeBarChart1_Detail9 {
  opacity: 1;
}

.DecadeBarChart1_Detail9 {
  position: absolute;
  width: 172px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet9 {
  height: 1105px;
  background-color: #8d2438;
}
.Mobilier9 {
  height: 901px;
  background-color: #c6bca2;
}
.Industriel9 {
  height: 798px;
  background-color: #e7a02c;
}
.Vestimentaire9 {
  height: 0px;
  background-color: #1a4d8b;
}
.Graphique9 {
  height: 737px;
  background-color: #da3035;
}
.Technologie9 {
  height: 0px;
  background-color: #83b7ca;
}
.Architecture9 {
  height: 3px;
  background-color: #91a879;
}

.Chart9 {
  position: relative;
  left: -150px;
  z-index: 100;
  top: -1105px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart10 {
  background-color: #2a2626;
  width: 172px;
  height: 1126px;
  left: -368.5px;
  position: relative;
}

.Chart10:hover ~ .DecadeBarChart10 .DecadeBarChart1_Detail10 {
  opacity: 1;
}

.DecadeBarChart1_Detail10 {
  position: absolute;
  width: 172px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet10 {
  height: 1126px;
  background-color: #8d2438;
}
.Mobilier10 {
  height: 904px;
  background-color: #c6bca2;
}
.Industriel10 {
  height: 766px;
  background-color: #e7a02c;
}
.Vestimentaire10 {
  height: 679px;
  background-color: #1a4d8b;
}
.Graphique10 {
  height: 642px;
  background-color: #da3035;
}
.Technologie10 {
  height: 14px;
  background-color: #83b7ca;
}
.Architecture10 {
  height: 4px;
  background-color: #91a879;
}

.Chart10 {
  position: relative;
  left: -190px;
  z-index: 100;
  top: -1126px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart11 {
  background-color: #2a2626;
  width: 172px;
  height: 1008px;
  left: -414.5px;
  position: relative;
}

.Chart11:hover ~ .DecadeBarChart11 .DecadeBarChart1_Detail11 {
  opacity: 1;
}

.DecadeBarChart1_Detail11 {
  position: absolute;
  width: 172px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet11 {
  height: 1008px;
  background-color: #8d2438;
}
.Mobilier11 {
  height: 834px;
  background-color: #c6bca2;
}
.Industriel11 {
  height: 666px;
  background-color: #e7a02c;
}
.Vestimentaire11 {
  height: 586px;
  background-color: #1a4d8b;
}
.Graphique11 {
  height: 569px;
  background-color: #da3035;
}
.Technologie11 {
  height: 11px;
  background-color: #83b7ca;
}
.Architecture11 {
  height: 1px;
  background-color: #91a879;
}

.Chart11 {
  position: relative;
  left: -250px;
  z-index: 100;
  top: -1008px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart12 {
  background-color: #2a2626;
  width: 171px;
  height: 1128px;
  left: -459.5px;
  position: relative;
}

.Chart12:hover ~ .DecadeBarChart12 .DecadeBarChart1_Detail12 {
  opacity: 1;
}

.DecadeBarChart1_Detail12 {
  position: absolute;
  width: 171px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet12 {
  height: 1128px;
  background-color: #8d2438;
}
.Mobilier12 {
  height: 969px;
  background-color: #c6bca2;
}
.Industriel12 {
  height: 913px;
  background-color: #e7a02c;
}
.Vestimentaire12 {
  height: 893px;
  background-color: #1a4d8b;
}
.Graphique12 {
  height: 886px;
  background-color: #da3035;
}
.Technologie12 {
  height: 71px;
  background-color: #83b7ca;
}
.Architecture12 {
  height: 15px;
  background-color: #91a879;
}

.Chart12 {
  position: relative;
  left: -300px;
  z-index: 100;
  top: -1128px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChart13 {
  background-color: #2a2626;
  width: 29px;
  height: 20px;
  left: -485.5px;
  position: relative;
}

.Chart13:hover ~ .DecadeBarChart13 .DecadeBarChart1_Detail13 {
  opacity: 1;
}

.DecadeBarChart1_Detail13 {
  position: absolute;
  width: 29px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Objet13 {
  height: 20px;
  background-color: #8d2438;
}
.Mobilier13 {
  height: 18px;
  background-color: #c6bca2;
}
.Industriel13 {
  height: 0px;
  background-color: #e7a02c;
}
.Vestimentaire13 {
  height: 17px;
  background-color: #1a4d8b;
}
.Graphique13 {
  height: 0px;
  background-color: #da3035;
}
.Technologie13 {
  height: 0px;
  background-color: #83b7ca;
}
.Architecture13 {
  height: 7px;
  background-color: #91a879;
}

.Chart13 {
  position: relative;
  z-index: 100;
  left: -455px;
  top: -20px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.DecadeBarChartContainer2 {
  border: solid 0px black;
  /* background-color: darkolivegreen; */
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 749.5px;
  left: 86px;
  z-index: 10;
  width: 3204px;
  /* 2204 is the width of the graph */
  gap: 7px;
}

.AcquisitionDecadeQuantity {
  border: solid 0px black;
  position: absolute;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  z-index: 12;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  /* left: 90px; */
  width: 3204px;
  /* gap: 165px; */
  color: #635c58;
  top: 751px;
}

.DecadeBarChartA1 {
  background-color: #2a2626;
  width: 100px;
  margin-left: 89px;
  height: 8px;
}
.ChartA1 {
  position: relative;
  top: 8px;
  padding-left: 219px;
}
.DecadeBarChartA2 {
  background-color: #2a2626;
  width: 171px;
  height: 14px;
}
.ChartA2 {
  position: relative;
  top: 14px;
  padding-left: 127px;
}
.DecadeBarChartA3 {
  background-color: #2a2626;
  width: 172px;
  height: 8px;
}
.ChartA3 {
  position: relative;
  top: 8px;
  padding-left: 165px;
}
.DecadeBarChartA4 {
  background-color: #2a2626;
  width: 171px;
  height: 8px;
}
.ChartA4 {
  position: relative;
  top: 8px;
  padding-left: 171px;
}
.DecadeBarChartA5 {
  background-color: #2a2626;
  width: 172px;
  height: 6px;
}
.ChartA5 {
  position: relative;
  padding-left: 169px;
  top: 6px;
}
.DecadeBarChartA6 {
  background-color: #2a2626;
  width: 172px;
  height: 60px;
}
.ChartA6 {
  position: relative;
  padding-left: 164px;
  top: 59px;
}
.DecadeBarChartA7 {
  background-color: #2a2626;
  width: 171px;
  height: 32px;
}
.ChartA7 {
  position: relative;
  padding-left: 161px;
  top: 32px;
}
.DecadeBarChartA8 {
  background-color: #2a2626;
  width: 172px;
  height: 90px;
}
.ChartA8 {
  position: relative;
  padding-left: 155px;
  top: 90px;
}
.DecadeBarChartA9 {
  background-color: #2a2626;
  width: 171px;
  height: 19px;
}
.ChartA9 {
  position: relative;
  padding-left: 161px;
  top: 19px;
}
.DecadeBarChartA10 {
  background-color: #2a2626;
  width: 172px;
  height: 1842px;
}
.ChartA10 {
  position: relative;
  padding-left: 151px;
  top: 1842px;
}
.DecadeBarChartA11 {
  background-color: #2a2626;
  width: 171px;
  height: 1803px;
}
.ChartA11 {
  position: relative;
  padding-left: 136px;
  top: 1803px;
}
.DecadeBarChartA12 {
  background-color: #2a2626;
  margin-left: 1px;
  width: 171px;
  height: 3378px;
}
.ChartA12 {
  position: relative;
  padding-left: 143px;
  top: 3378px;
}
.DecadeBarChartA13 {
  background-color: #2a2626;
  width: 48px;
  height: 207px;
}
.ChartA13 {
  position: relative;
  padding-left: 85px;
  top: 207px;
}

.DesignDetail {
  position: relative;
  top: 1500px;
  left: 100px;
}
